/* HEADER */
.header {
    width: 100%;                /* Chiều rộng header bằng toàn bộ trang */
    height: 70px;               /* Chiều cao header */
    background: #0b2c59;        /* Màu nền header */
    color: white;               /* Màu chữ mặc định bên trong header */
    display: flex;              /* Dùng flexbox để sắp xếp các phần tử bên trong */
    align-items: center;        /* Canh giữa theo chiều dọc */
    justify-content: space-between; /* Canh đều khoảng cách giữa các phần trong header */
    padding: 0 40px;            /* Khoảng cách hai bên trái/phải của header */
}

.header .logo {
    font-size: 22px;            /* Cỡ chữ logo */
    font-weight: 700;           /* Chữ logo đậm */
}

.menu a {
    color: white;               /* Màu chữ của menu */
    margin: 0 15px;             /* Khoảng cách giữa các mục menu */
    text-decoration: none;      /* Bỏ gạch chân */
    font-weight: 500;           /* Độ đậm chữ */
    transition: 0.3s;           /* Tạo hiệu ứng mượt khi hover */
}

.menu a:hover {
    color: #ffc107;             /* Đổi màu chữ khi rê chuột */
    transform: scale(1.2);      /* Phóng to 20% khi hover */
}

.apply-btn {
    background: #ffc107;        /* Màu vàng cho nút Apply */
    padding: 10px 20px;         /* Kích thước trong nút */
    border: none;               /* Bỏ viền nút */
    cursor: pointer;            /* Chuột chuyển thành bàn tay */
    font-weight: 600;           /* Chữ đậm */
    margin-right: 100px; 
}
/* Khi rê chuột vào button */
.apply-btn:hover {
    background: green;           /* Đổi sang màu xanh */
}
